body {
    font-family: sans-serif;
    background-color: #FFFF73;
}

header {
    background-color: #FFFF73;
    padding: 40px 0px 40px 25px;
}

p {
  font-size: 17px;
  margin-left: 10px;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: red;
    text-shadow:  10px 10px 5px black;
}
img {
    border-radius: 10px;
}

.link-header {
    color: black;
    text-decoration: none;
    border: 2px solid gold;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}

ul {
    font-size: 23px;
    list-style: none;
    margin-left: 60px;
    margin-top: 40px;
}

.dascription {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: conter;
}

.link-header:hover {
    background-color: darkgoldenrod;
    transform: scale(1);
    box-shadow: 2px 0px 15px 2px gold;
}

nav {
    margin: 25px;
    margin-right: 30px;
}

.link-nav {
    text-decoration: none;
    margin-left: 10px;
    border: 3px solid red;
    border-radius: 10px;
    background-color: darkgoldenrod;
    padding: 10px;
}

footer {
    background-color: black;
    padding: 5px;
}
